<section style="background-color: #fdf5ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <!--<div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://images.unsplash.com/photo-1555529771-122e5d9f2341?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Ym91dGlxdWV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>-->
            <div class="col-md-12 col-lg-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="d-flex align-items-center mb-3 pb-1">

                  <span class="h1 fw-bold mb-0">Sign Up</span>
                </div>

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create an account</h5>

                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                  <%= f.error_notification %>

                    <div class="form-outline mb-4">
                      <%#= f.input :name,
                                  required: true,
                                  label: false,
                                  autofocus: true,
                                  placeholder: 'Enter your name', 
                                  class: "form-control form-control-lg" %>
                    </div>

                    <div class="form-outline mb-4">
                      <%= f.input :email,
                                  required: true,
                                   label: false,
                                  autofocus: true,
                                  placeholder: 'Enter your email address',
                                  input_html: { autocomplete: "email" }, class: "form-control form-control-lg" %>
                    </div>

                    <div class="form-outline mb-4">
                      <%= f.input :password,
                                  required: true,
                                   label: false,
                                   placeholder: "Password",
                                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                  input_html: { autocomplete: "new-password" }, class: "form-control form-control-lg" %>
                    </div>

                    <div class="form-outline mb-4">
                      <%= f.input :password_confirmation,
                                  required: true,
                                   label: false,
                                   placeholder: "Password confirmation",
                                  input_html: { autocomplete: "new-password" }, class: "form-control form-control-lg" %>
                    </div>

                    <%= f.button :submit, "Sign up", class: "btn btn-dark btn-lg btn-block" %>

                <% end %>

                <%= render "devise/shared/links" %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
