<main class="container">
    <div class="header">
        <h1>Search results (<%= @search_results.count %>)</h1>
    </div>

    <div class="header search">
        <%= render 'layouts/customer_search' %>
    </div>

    <%= turbo_frame_tag Customer.new do %>
        <% if @search_results.empty? %>
            <%= render "search/empty_state" %>
        <% end %>
    <% end %>

    <%= turbo_frame_tag "customers" do %>
        <div class="row">
            <%= render @search_results %>
        </div>
    <% end %>
</main>