<main class="container">
    <div class="header">
        <h1><i class="bi bi-people"></i> Customers</h1>
        <span><%= link_to "Add customer", new_customer_path, class: "butn butn--primary", data: { turbo_frame: dom_id(Customer.new) } %></span>
    </div>

    <% unless @customers.blank? %>
        <div class="header search">
            <%= render 'layouts/customer_search' %>
        </div>
    <% end %>

    <%= turbo_frame_tag Customer.new do %>
        <% if @customers.none? %>
            <%= render "customers/empty_state" %>
        <% end %>
    <% end %>

    <%= turbo_frame_tag "customers" do %>
        <div class="row">
            <%= render @customers %>
        </div>
    <% end %>
    
    <%= paginate @customers, window: 2, theme: 'bootstrap-5',
                    pagination_class: "pagination-sm flex-wrap justify-content-center",
                    nav_class: "d-inline-block" %>
</main>