<main class="container">
  <%= link_to sanitize("&larr; Back to customers"), customers_path %>
  
  <p class="text-muted">Customer created by: <%= @customer.user.email %></p>

  <div class="header">
    <h1>
      <%= @customer.name %>
    </h1>

    <span>
      <%= link_to "New date", new_customer_product_item_date_path(@customer), data: { turbo_frame: dom_id(ProductItemDate.new) }, class: "butn butn--primary" %>
    </span>
  </div>

  <%= turbo_frame_tag ProductItemDate.new %>

  <%= turbo_frame_tag "product_item_dates" do %>
    <%= render @product_item_dates, customer: @customer %>
  <% end %>
</main>

<%= turbo_frame_tag dom_id(@customer, :total) do %>
  <%= render "customers/total", customer: @customer %>
<% end %>