<main class="container">
  <%= link_to sanitize("&larr; Back to customers"), customers_path %>

  <div class="header">
    <h1>
      <%= @customer.name %>
    </h1>

    <span>
      <%= link_to "New date", new_customer_product_item_date_path(@customer), data: { turbo_frame: dom_id(ProductItemDate.new) }, class: "butn butn--primary" %>
    </span>
    
  </div>

  <%= turbo_frame_tag ProductItemDate.new %>

  <%= turbo_frame_tag "product_item_dates" do %>
    <%= render @product_item_dates, customer: @customer %>
  <% end %>
</main>