<%#= turbo_frame_tag product do %>
  <div class="line-item">
    <div class="line-item__name">
      <%= link_to product.name, product %>
      <div class="line-item__description">
        <%= simple_format product.description %>
      </div>
      <div class="store-name">
        <% if product.store.present? %>
          <p class="text-muted m-0">Available in: <span class="fw-normal"></span><%= product.store.name %></span></p>
        <% else %>
          <p class="text-muted m-0">Available in: all stores</span></p>
        <% end %>

        <% if product.code.present? %>
          Product Code: <span class="text-info"><%= product.code %></span>
        <% end %>
      </div>
    </div>
    <div class="line-item__quantity-price">
      <%= product.quantity %>
      &times;
      <%= number_to_currency(product.unit_price, unit: "₦") %>
    </div>
    <div class="line-item__quantity">
      <%= product.quantity %>
    </div>
    <div class="line-item__price">
      <%= number_to_currency(product.unit_price, unit: "₦") %>
    </div>
    <div class="line-item__actions">
      <%= link_to product, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "butn butn--light" do %>
        <%= image_tag 'delete.png', size: '25' %>
      <% end %>
      <%= link_to edit_product_path(product), class: "butn butn--light" do %>
        <%= image_tag 'edit.png', size: '25' %>
      <% end %>
      </div>
  </div>
<%# end %>