<%= turbo_frame_tag product_item_date do %>
    <div class="line-item-date">
      <%= turbo_frame_tag dom_id(product_item_date, :edit) do %>
        <div class="line-item-date__header">
          <h2 class="line-item-date__title">
            <%= l(product_item_date.date, format: :long) %>
          </h2>

          <% if authorized_user?(current_user) %>
            <div class="line-item-date__actions">
              <%= button_to customer_product_item_date_path(customer, product_item_date), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "butn butn--light" do %>
                <%= image_tag "delete.png", size: "25" %>
              <% end %>
              <%= link_to [:edit, customer, product_item_date], class: "butn butn--light" do %>
                <%= image_tag "edit.png", size: "25" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      
    <p class="text-muted">Date created by: <%= product_item_date.user.email %></p>

      <div class="line-item-date__body">
        <div class="line-item line-item--header">
          <div class="line-item__name">Name/Description</div>
          <div class="line-item__quantity">Quantity</div>
          <div class="line-item__price">Price</div>
          <div class="line-item__actions"></div>
        </div>

        <%= turbo_frame_tag nested_dom_id(product_item_date, "product_items") do %>
            <%= render product_item_date.product_items, customer: customer, product_item_date: product_item_date %>
        <% end %>

        <%= turbo_frame_tag nested_dom_id(product_item_date, ProductItem.new) %>

        <div class="line-item-date__footer">
          <%= link_to "Add purchase",
                      [:new, customer, product_item_date, :product_item],
                      data: { turbo_frame: nested_dom_id(product_item_date, ProductItem.new) },
                      class: "butn butn--primary" if authorized_user?(current_user) %>
        </div>
      </div>

    </div>
<% end %>